torch
torchvision
transformers==4.48.3
accelerate
peft
deepspeed==0.15.4  # https://github.com/microsoft/DeepSpeed/issues/6793
# flash-attn
numpy>=1.23.5, <2.0.0
pillow
opencv-python  # opencv-python-headless for servers without GUI
pandas
tensorboardX
nvitop
